.content-all {
    margin: 5% auto 15% auto;
  }
  /* title */
  .title {
    font-weight: bold;
    font-size: 34px;
    color: #19634a;
  }
  
  /* sign up content */
  .signUp {
    position: relative;
    width: 578px;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    border: 1px solid #19634a;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 80px 20px;
  }
  .signUp-btn {
    background-color: #24936e;
    color: #ffffff;
  }
  .progress-adj {
    margin: 10px auto;
    width: 40%;
    height: 30%;
  }
  
  /* progress bar */
  .opaque {
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  
  .disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  
  #checkout-progress {
    width: 80%;
    margin: 0px auto;
    font-size: 2em;
    font-weight: 900;
    position: relative;
  }
  @media (max-width: 767px) {
    #checkout-progress {
      font-size: 1.5em;
    }
  }
  #checkout-progress:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 10px;
    width: 100%;
    background-color: #ccc;
    -webkit-transform: translateY(-50%) perspective(1000px);
    transform: translateY(-50%) perspective(1000px);
  }
  #checkout-progress:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 10px;
    width: 300%;
    background-color: #6da77f;
    -webkit-transform: scaleX(0) translateY(-50%) perspective(1000px);
    transform: scaleX(0) translateY(-50%) perspective(1000px);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  #checkout-progress.step-2:after {
    -webkit-transform: scaleX(0.333) translateY(-50%) perspective(1000px);
    transform: scaleX(0.333) translateY(-50%) perspective(1000px);
  }
  #checkout-progress.step-3:after {
    -webkit-transform: scaleX(0.666) translateY(-50%) perspective(1000px);
    transform: scaleX(0.666) translateY(-50%) perspective(1000px);
  }
  #checkout-progress.step-4:after {
    -webkit-transform: scaleX(1) translateY(-50%) perspective(1000px);
    transform: scaleX(1) translateY(-50%) perspective(1000px);
  }
  #checkout-progress.step-5:after {
    -webkit-transform: scaleX(1) translateY(-50%) perspective(1000px);
    transform: scaleX(1) translateY(-50%) perspective(1000px);
  }
  #checkout-progress .progress-bar1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #checkout-progress .progress-bar1 .step {
    z-index: 2;
    position: relative;
  }
  #checkout-progress .progress-bar1 .step .step-label {
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    -webkit-transform: translateX(-50%) perspective(1000px);
    transform: translateX(-50%) perspective(1000px);
    white-space: nowrap;
    font-size: 0.4em;
    font-weight: 600;
    color: #ccc;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  @media (max-width: 767px) {
    #checkout-progress .progress-bar1 .step .step-label {
      top: calc(100% + 15px);
    }
  }
  #checkout-progress .progress-bar1 .step span {
    color: #ccc;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    /* display: block; */
    -webkit-transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
    transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
  }
  #checkout-progress .progress-bar1 .step .fa-check {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
    transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
  }
  #checkout-progress .progress-bar1 .step.active span,
  #checkout-progress .progress-bar1 .step.active .step-label {
    color: #6da77f;
  }
  #checkout-progress .progress-bar1 .step.valid .fa-check {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
    transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
  }
  #checkout-progress .progress-bar1 .step.valid span {
    color: #6da77f;
    -webkit-transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
    transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
  }
  #checkout-progress .progress-bar1 .step.valid .step-label {
    color: #2c3e50 !important;
  }
  #checkout-progress .progress-bar1 .step:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) perspective(1000px);
    transform: translate(-50%, -50%) perspective(1000px);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #ccc;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  @media (max-width: 767px) {
    #checkout-progress .progress-bar1 .step:after {
      width: 30px;
      height: 30px;
    }
  }
  #checkout-progress .progress-bar1 .step.active:after {
    border: 3px solid #6da77f;
  }
  #checkout-progress .progress-bar1 .step.valid:after {
    background-color: #6da77f;
    border: 3px solid #6da77f;
  }
  
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto;
  }
  .button-container .btn {
    display: inline-block;
    background-color: #6da77f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    border: 3px solid #6da77f;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
  @media (max-width: 767px) {
    .button-container .btn {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .button-container .btn:hover {
    background-color: transparent;
    color: #6da77f;
    -webkit-transform: scale(1.02) perspective(1000px);
    transform: scale(1.02) perspective(1000px);
  }
  